body{
    box-sizing: border-box;
    
}
/* #assignment5{
    width: calc(50%);
} */
.box {

    border: 50px solid;
    border-color: #E32636;
    padding: 50px;
    text-transform: uppercase;
    width: 50%;
    /*Calculate the different width between Box 1 and 2.  */
    width: calc(100% - 50%)
}

.content{
    box-sizing: content-box;
    border-color: #2E8B57;
    width: calc(100% - 10%)

}