body{
    color: white;
}
.div1{
    position: absolute;
    top: 0;
    right: 0;
      width:450px;
      height:450px;
      background-color: #5d5d5da1;
}
.div2{
    position: absolute;
    left: 0;
      width:200px;
      height:200px;
      background-color: black;
      bottom: 0;
      
}