body{
  margin:0;
}
.div1{
  
    width:300px;
    height:600px;
    color:white;
    background-color: #808080;
    position: relative;
 

}
.div2{
    width: 200px;
    height: 250px;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    
    
}
.div3{
    width: 150px;
    height: 150px;
    background-color: #d1cfcf91;
    position: absolute;
    bottom: 10px;
    right: 10px;
}